body {
  padding-top: 60px;
}

/* we do not have a LH sidebar */
.container-fluid > .content {
  margin-left: 0;
}

.vmm-timeline p {
  font-size: 12px;
}

.page-home .row.instructions .span4 .well {
  height: 100px;
}

.okfn-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10000;
}

#okf-panel {
  z-index: 10000;
  top: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

/**************************************************************
  * Data Views
  *************************************************************/

.data-view .recline-map {
  margin-left: 10px;
}

.recline-timeline .vmm-timeline, .data-views .recline-map .map {
  height: 600px;
}


/**************************************************************
  * Timeline tweaks
  *************************************************************/

.source {
  font-style: italic;
}

