@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);

body {
  padding-top: 60px;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, body, p, input, button, select, textarea {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* we do not have a LH sidebar */
.container-fluid > .content {
  margin-left: 0;
}

.vmm-timeline p {
  font-size: 12px;
}

.page-home .row.instructions .span4 .well {
  height: 100px;
}

.okfn-ribbon {
  position: absolute;
  top: -10px;
  right: 0;
  z-index: 10000;
}

#okf-panel {
  z-index: 10000;
  top: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

/**************************************************************
  * Data Views
  *************************************************************/

.data-view .recline-map {
  margin-left: 10px;
}

.recline-timeline .vmm-timeline, .data-views .recline-map .map {
  height: 600px;
}


/**************************************************************
  * Timeline tweaks
  *************************************************************/

.source {
  font-style: italic;
}

